
body{
  margin: 0px 0px auto 0px;
  color: #40514E;
}

h1{
  margin: 0px auto 16px;
  font-size: 5.625rem;
  padding-top: 200px;
  font-family: 'Sacramento', cursive;
  color: #8758FF;

}

h3{
  font-family: 'Merriweather Sans', sans-serif;
  color: #8758FF;
  font-size: 2.5rem;

}

h2{
  font-family: 'Merriweather Sans', sans-serif;
  color: #5CB8E4;
  font-weight: normal;
  font-size: 2rem;

}

h4{
  font-family: 'Merriweather Sans', sans-serif;
  color: #5CB8E4;
  font-weight: normal;
  font-size: 1.5rem;

}

.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0px 50px 0px;
}

p{
  font-family: 'Merriweather Sans', sans-serif;
  color: grey;

}

hr{
  border: dotted grey 6px;
  border-bottom: none;
  width: 10%;
}

a{
  color: #11999E;
  padding: 50px;
  text-decoration: none;
}

a:hover{
  color: #EAF6F6;
}

.computer{
  height: 250px;
  position: absolute;
  left: 100px;
}

.chillies{
  height: 250px;
  position: absolute;
  right: 100px;
  bottom: 250px;

}

.copyright{
  color: white;
  margin: 25px;
}

.nicco{
  height: 200px;
  margin: 20px;
  border-radius: 20px;
  

}

.top-container {
  background-color: #C3F8FF;
  text-align: center;
  position: relative;

}

.middle-container{
  text-align: center;
  position: relative;
}

.bottom-container{
  text-align: center;
}

.top-cloud{
  position: absolute;
  left: 300px;
  top: 100px;
}

.bottom-cloud{
  position: absolute;
  right: 300px;
  bottom: 400px;
}
.me{
  height: 150px;
  position: absolute;
  top: 40px;
  left: 660px;
  border-radius: 100px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 15;
  -moz-border-radius: 15;
  border-radius: 15px;
  font-family: Arial;
  color: #ffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
